.has-bkgd {
    background: url('../images/train.jpg') top center;
};

.has-bkgd-bot {
    background: url('../images/train.jpg') bottom center;
    background-size: auto;
};

.has-margin {
    margin: 0px 100px;
};